<!doctype html>

<html lang="en">
{% load static %}

  {% include 'user/head.html'%}
  <title>Recipe app</title>



    <style>
      #jumbo{
        background-image:url("{% static 'cooking.jpg' %}");
      }
      #jumbo-2{
        background-image:url("{% static 'whip-game.jpg' %}");
      }
    </style>
    <!-- Custom styles for this template -->
  <body>
<main role="main">
  {% include "user/header.html" %}
  <section id="jumbo" class="jumbotron img-fluid text-left text-white rounded bg-dark">
  </section>

  <div class="container pb-5">
    <div class="row justify-content-center album-header">
        <h1 id="cat-h-1">Choose a&nbsp</h1><h1 id="cat-h-2">Category</h1>
    </div>
    <div class="row">
    <div class="container">
      <div class="row">
{% for tag in tags %}
        <div class="col-md-3">
          <div class="card tag-card mb-4">
            <a href="{% url 'tag_detail' tag.id %}"><img class="bd-placeholder-img tag-img card-img-top"  src="{{ tag.image.url }}" width="100%" height="225px" role="img"></a>
            <div class="card-body tag-card-body">
              <h1 id="tag-title"><a href="{% url 'tag_detail' tag.id %}"><strong>{{tag.name}}</strong></a></h1>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
   
  </div>

<section id="jumbo-2" class="jumbotron img-fluid rounded bg-dark">
  </section>

<div class="container album-rec ">
  <div class="row justify-content-left album-header album-header-rec">
        <h1 id="rec-h-1">Our&nbsp</h1><h1 id="rec-h-2">Favorites</h1>
    </div>
  <div class="album py-3 bg-light">
    <div class="container">
      <div class="row">
{% for recipe in recipes %}
        <div class="col-md-4">
          <div class=" mb-4 ">
            <a href="{% url 'detail' recipe.id %}"><img class="bd-placeholder-img rec-img card-img-top"  src="{{ recipe.image.url }}" width="100%" height="225px" role="img"></a>
            <div class="rec-body mx-auto">
            	<h1 id="author" class="pt-4 pb-1"><a href="{% url 'detail' recipe.id %}"><strong>{{recipe.title}}</strong> by {{recipe.user.name}}</a></h1>
              <p class="rec-desc">{{recipe.description}}</p>
              <div class="container rec-details">
                  <p><i class="fas fa-stopwatch"></i>&nbsp{{recipe.time}} &emsp; ${{recipe.price}} &emsp; Servings: {{recipe.servings}}</p>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group mx-auto" >
                  <button type="button" class="btn btn-sm btn-outline-secondary">View Recipe</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      </div>
    </div>
  </div>

</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p>New to Bootstrap? <a href="https://getbootstrap.com/">Visit the homepage</a> or read our <a href="/docs/4.4/getting-started/introduction/">getting started guide</a>.</p>
  </div>
</footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/73fdd29606.js" crossorigin="anonymous"></script>
  </body>
</html>