asgiref==3.3.1
Django==3.1.5
django-core==1.4.1
django-cors-headers==3.6.0
django-fontawesome==1.0
django-jquery==3.1.0
django-rest-framework
djangorestframework==3.12.2
django-extensions
cryptography
django-rest-knox
django-filter
fanstatic==1.1
gunicorn
js.jquery==3.3.1
js.jqueryui==1.10.3
Pillow==8.1.0
psycopg2==2.8.6
pytz==2020.5
PyYAML==5.3.1
shutilwhich==1.1.0
sqlparse==0.4.1
WebOb==1.8.6
