

<div class="container album-rec ">
<div class="album py-3 bg-light">
    <div class="container">
      <div class="row">
{% for recipe in recipes %}
        <div class="col-md-4">
          <div class=" mb-4 ">
            <a href="{% url 'detail' recipe.id %}"><img class="bd-placeholder-img rec-img card-img-top"  src="{{ recipe.image.url }}" width="100%" height="225px" role="img"></a>
            <div class="rec-body mx-auto">
            	<h1 id="author" class="pt-4 pb-1"><a href="{% url 'detail' recipe.id %}"><strong>{{recipe.title}}</strong> by {{recipe.user.name}}</a></h1>
              <p class="rec-desc">{{recipe.description}}</p>
              <div class="container rec-details">
                  <p>{{recipe.time}}<i class="fas fa-stopwatch"></i> &emsp; ${{recipe.price}} &emsp; Servings: {{recipe.servings}}</p>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group mx-auto" >
                  <button type="button" class="btn btn-sm btn-outline-secondary">View Recipe</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      </div>
    </div>
</div>